<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
</head>

<body>

<!-- Card Design -->
<div class="container">
     <div class="row">
<!-- Create An Interview Schedule -->
       <div class="col-xs-12 col-sm-4">
         <div class="card" id="newinterviewschedule">
           <span class="card-category">Create An Interview Schedule</span>
           <div class="card-description">
             <p>Create A new Interview Schedule</p>
             <input type="button" value="New Interview" id="newinterviewbtn" class="buttons">
           </div>
         </div>
       </div>
  <!-- Create An Interview Schedule End -->
  <!-- View all Interviews -->
       <div class="col-xs-12 col-sm-4">
         <div class="card" id="viewallinterviews">
           <span class="card-category">View all Interviews</span>
           <div class="card-description">
             <p>View all Interviews</p>
             <input type="button" value="View Interviews" id="viewinterviewbtn" class="buttons">
           </div>
         </div>
       </div>
<!-- View all Interviews End -->
<!-- Update an Interview Details -->
       <div class="col-xs-12 col-sm-4">
         <div class="card" id="updateinterview">
           <span class="card-category">Update an Interview Details</span>
           <div class="card-description">
             <p>Update an Interview Details</p>
             <input type="button" value="Update Interviews" id="updateinterviewbtn" class="buttons">
           </div>
         </div>
       </div>
<!-- Transactions -->
</div>
<br>
<div class="row">

</div>

<!-- <div class="row">
 Balance Sheet
  <div class="col-xs-12 col-sm-4">
    <div class="card" id="balancesheet">
      <span class="card-category">Balance Sheets</span>
      <div class="card-description">
        <p>Create, Show, Update, Delete Balance Sheets</p>
        <input type="button" value="Balance Sheet Management" id="BalShMgtbtn" class="buttons">
      </div>
    </div>
  </div>
 Balance Sheet
 Stock Keeping
  <div class="col-xs-12 col-sm-4">
    <div class="card" id="stocks">
      <span class="card-category">Stock Keeping</span>
      <div class="card-description">
        <p>View Stock for Items</p>
        <input type="button" value="Stock Management" id="StckMgtbtn" class="buttons">
      </div>
    </div>
  </div>
Stock Keeping

</div>

</div>
Cards Design End
 -->
 </div>
</body>
