<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h3>Please Re-write the Interview Details Below for the Display Details</h3>
<br>
<br>

<!-- <form>
// Commented till here
<fieldset>
    <legend>Please Enter the Interviews Details Below</legend>
// Previously commented untill here

<div class="form-group">
    <div class="col-xs-9">
    <label for="companyname">Company Name : </label>    
    <input type="text" class="form-control input-sm" [(ngModel)]="ngcompanyname" name="ngcompanyname">
    </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="companyloaction">Company Location : </label>    
        <input type="text" #CompanyLocation class="form-control input-sm" [(ngModel)]="companyloaction" id="companyloaction" [ngModelOptions]="{standalone: true}"> 
        </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="companytype">Company Type : </label>    
        <input type="text" #CompanyType class="form-control input-sm" [(ngModel)]="companytype" id="companytype" [ngModelOptions]="{standalone: true}"> 
        </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="offeredrole">Offered Role : </label>    
        <input type="text" #Role class="form-control input-sm" [(ngModel)]="offeredrole" id="offeredrole" [ngModelOptions]="{standalone: true}"> 
        </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="expectedexperience">Expected Experience : </label>    
        <input type="text" #ExpExperience class="form-control input-sm" [(ngModel)]="expectedexperience" id="expectedexperience" [ngModelOptions]="{standalone: true}">
        </div> 
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="noticeperiod">Notice Period Required : </label>    
        <input type="text" #NoticePeriod class="form-control input-sm" [(ngModel)]="noticeperiod" id="noticeperiod" [ngModelOptions]="{standalone: true}"> 
        </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="payscale">Pay Scale : </label>    
        <input type="text" #PayScale class="form-control input-sm" [(ngModel)]="payscale" id="payscale" [ngModelOptions]="{standalone: true}">
        </div> 
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="companyrating">Company Rating : </label>    
        <input type="text" #Rating class="form-control input-sm" [(ngModel)]="companyrating" id="companyrating" [ngModelOptions]="{standalone: true}"> 
        </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="interviewvenue">Interview Venue : </label>    
        <input type="text" #Venue class="form-control input-sm" [(ngModel)]="interviewvenue" id="interviewvenue" [ngModelOptions]="{standalone: true}"> 
        </div>
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="interviewdate">Interview Date : </label>    
        <input type="text" #InterviewDate class="form-control input-sm" [(ngModel)]="interviewdate" id="interviewdate" [ngModelOptions]="{standalone: true}">
        </div> 
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="contactperson">Contact Person : </label>    
        <input type="text" #ContactPerson class="form-control input-sm" [(ngModel)]="contactperson" id="contactperson" [ngModelOptions]="{standalone: true}">
        </div> 
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="contactpersonemail">Contact Person Email : </label>    
        <input type="text" #ContactPersonEmail class="form-control input-sm" [(ngModel)]="contactpersonemail" id="contactpersonemail" [ngModelOptions]="{standalone: true}">
        </div> 
</div>
<div class="form-group">
        <div class="col-xs-9">
        <label for="contactpersonphone">Contact Person Phone: </label>    
        <input type="text" #ContactPersonPhone class="form-control input-sm" [(ngModel)]="contactpersonphone" id="contactpersonphone" [ngModelOptions]="{standalone: true}">
        </div> 
</div>
// Commented them all
<input type="button" class="btn btn-default" value="Submit" (click)="registerInterview(
    CompanyName.value,
    CompanyLocation.value,
    CompanyType.value,
    Role.value,
    ExpExperience.value,
    NoticePeriod.value,
    PayScale.value,
    Rating.value,
    Venue.value,
    InterviewDate.value,
    ContactPerson.value,
    ContactPersonEmail.value,
    ContactPersonPhone.value)">
</fieldset>
// Upto here
</form> -->
</body>