<body>   
<form>
    <div class="box">
        <label for="Email" class="fl fontLabel"> Email: </label>
        <div class="fr">
            <input type="text" #Email placeholder="Please Enter the Email Associated with the Account" class="textBox">
        </div>
        <div class="clr"></div>
    </div>
    <br>
    <div class="box">
        <label for="Phoneno" class="fl fontLabel"> Phoneno: </label>
        <div class="fr">
            <input type="text" #Phone placeholder="Please Enter the Phone No Associated with the Account" class="textBox">
        </div>
        <div class="clr"></div>
    </div>
    <br>
    <div class="box">
        <label for="Password" class="fl fontLabel"> Password: </label>
        <div class="fr">
            <input type="password" #Password placeholder="Please Enter the New Password" class="textBox">
        </div>
        <div class="clr"></div>
    </div>
    <br>
    <div class="box">
        <label for="RePassword" class="fl fontLabel"> Re-confirm Password: </label>
        <div class="fr">
            <input type="password" #CnfrmPassword placeholder="Please Re-Enter the New Password" class="textBox">
        </div>
        <div class="clr"></div>
    </div>
    <br>
    <div>
        <input type="button" value="Update Password" (click)="UpdatePassword(Email.value, Phone.value, Password.value, CnfrmPassword.value)">
    </div>   
    
</form>
</body> 